.jumbotron {
  padding-top: 6rem;
}

#projects {
}

section {
  padding-top: 5rem;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
}

small {
  position: static;
}

@media (min-width: 992px) {
  .nav-link {
    text-transform: uppercase;
  }

  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #fff;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
}
